#keypress-img {
    max-width: -webkit-fill-available;
    max-height: 30vh;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#keypress-hist {
    bottom: 0;
    left: 0;
    font-size: 2rem;
    padding: 1em 0em;
}

ul#keypress-hist li { background-color: #fff; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); color: #333; margin: 5px; padding: 5px; text-align: center; display: flex; justify-content: center; align-items: center; font-size:14px; width: 16px; height: 16px;}

#keystroke {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    color: #333; 
    text-align: center;
    line-height: 1em;  
}

ul#keypress-hist { list-style-type: none; margin: 0; padding: 0; flex-wrap: wrap; justify-content: right; display: flex; }

#eypress-timer {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.response-display-wrapper {
    padding-top: 5em;
    text-align: right;
    max-width: 70vw;
    place-self: center;
}

table.response-display-wrapper tbody > tr{
    visibility: hidden;
}

td:first-child { text-align: left }

dl { 
    display: grid;
    grid-template-columns: max-content auto;
    row-gap: 20px;
}
  
dt {
    grid-column-start: 1;
    font-weight: 600;
    margin-inline-start: 0px;
}
  
dd {
    grid-column-start: 2;
    margin-inline-start: 20px;
}

.instruction {
    margin: auto;
    text-align:left; 
    background-color:lightgrey; 
    padding:10px; 
    border-radius: 10px; 
    padding: 20px;
    max-width: 100vw;
}

.instruction-title {
    text-align: center;
    max-width: 70vw;
}

div.bonus-1 {
    display: flex; flex-direction: column; align-items: center; font-size:30px; padding: 30px
}
div.bonus-2 {
    display: flex; margin-bottom: 20px
}
div.bonus-3 {
    width: 220px; text-align: right;
}
div.bonus-4 {
    padding: 0px 50px;
}
body.jspsych-display-element > table {
    border-collapse: collapse;   
    width: 100%;
    margin: 20px 0px;
    text-align-last: center;
}

.jspsych-content {
    text-align: center;
    margin: auto; /* this is for overflowing content */
    text-align: -webkit-center !important;
}

p#display-prompt {
    font-size: small;
    margin-top: 5vh;
}

div.sv-action-bar.sv_nav {
    place-content: center;
}


.survey-demo-wrap {
    height: 100vh;
}
.survey-demo-instructions {
    margin: auto;
    width: 800px;
    padding: 0 0 0 0;
    text-align: center;
    font-size: 15px;
    line-height: 1.15em;
}
.survey-demo-container {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: auto;
    width: 800px;
    margin: auto;
    background-color: #F8F8F8;
    border-radius: 12px;
}
.survey-demo-row {
    display: contents;
    justify-items: center;
    text-align: left;
    font-size: 16px;
    line-height: 1.5em;
}
.survey-demo-prompt {
    padding: 12px 0 12px 15px;
    border-top: 2px solid #ffffff;
}
.survey-demo-prompt label {
    padding: 0 8px 0 0;
    display: inline-block;
}
.survey-demo-response {
    padding: 12px 0 12px 0;
    border-top: 2px solid #ffffff;
}
.survey-demo-response label {
    padding: 0 1em 0 0;
    display: inline-block;
}
.survey-demo-response input[type='radio'], input[type='checkbox'] {
    height: 13px;
    width: 13px;
    margin: 0 6px 0 0;
}
.survey-demo-response input[type='number'], input[type='text'] {
    height: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.survey-demo-response input[type='number'] {
    width: 40px;
}
.survey-demo-response input[type='text'] {
    width: 15%;
}
.survey-demo-footer {
    margin: auto;
    width: 800px;
    padding: 20px 0 20px 0;
    text-align: center;
}
.survey-demo-footer input[type=submit] {
    display: inline-block;
    padding: 6px 12px;
    margin: 0px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', 'Arial', sans-serif;
    cursor: pointer;
    line-height: 1.4;
    white-space: nowrap;
    vertical-align: middle;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.survey-demo-footer input[type=submit]:hover {
    background-color: #ddd;
    border-color: #aaa;
}

.survey-demo-suggest input{
    display: flex;
    flex-direction: row;
    line-height: 1.5em;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #F8F8F8;
    align-items: center;
}

.feedback-container {
    position: relative; 
    text-align: center; 
    width: 800px; 
    height: 338px;
    color: #85BB65; 
    font-weight: bold; 
    text-shadow: -1px 1px 2px #000, 1px 1px 2px #000, 1px -1px 0 #000, -1px -1px 0 #000;
}

.feedback-text {
    position: absolute; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    width: 100%;
}

textarea#styled {
	height: 95%;
    width: 95%;
	border: 2px solid #cccccc;
    line-height: 1.5em;
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #F8F8F8;
    align-items: center;
}
