
#keypress-hist {
    bottom: 0;
    left: 0;
    font-size: 2rem;
    padding: 1em 0em;
}

ul#keypress-hist li { background-color: #fff; border: 1px solid #ccc; border-radius: 5px; box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); color: #333; margin: 5px; padding: 5px; text-align: center; display: flex; justify-content: center; align-items: center; font-size:14px; width: 16px; height: 16px;}

#keystroke {
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    background-color: #fff; 
    border: 1px solid #ccc; 
    border-radius: 5px; 
    color: #333; 
    text-align: center;
    line-height: 1em;  
}

ul#keypress-hist { list-style-type: none; margin: 0; padding: 0; flex-wrap: wrap; justify-content: right; display: flex; }

#eypress-timer {
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100%;
    padding: 1rem;
}

.response-display-wrapper {
    padding-top: 5em;
    text-align: right;
    max-width: 70vw;
    place-self: center;
}

table.response-display-wrapper tbody > tr{
    visibility: hidden;
}

td:first-child { text-align: left }

dl { 
    display: grid;
    grid-template-columns: max-content auto;
    row-gap: 20px;
}
  
dt {
    grid-column-start: 1;
    font-weight: 600;
    margin-inline-start: 0px;
}
  
dd {
    grid-column-start: 2;
    margin-inline-start: 20px;
}

.instruction {
    margin: auto;
    text-align:left; 
    background-color:lightgrey; 
    padding:10px; 
    border-radius: 10px; 
    padding: 20px;
    max-width: 100vw;
}

body.jspsych-display-element > table {
    border-collapse: collapse;   
    width: 100%;
    margin: 20px 0px;
    text-align-last: center;
}

.jspsych-content {
    text-align: center;
    margin: auto; /* this is for overflowing content */
    text-align: -webkit-center !important;
}

p#display-prompt {
    font-size: small;
    margin-top: 5vh;
}